body.active-modal {
  overflow-y: hidden;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  top: 40%;
  left: 30%;
  position: absolute;
  line-height: 1.4;
  background: #fcefd5;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 30vw;
  font-size: 0.8rem;
}

.modal-rating {
  display: flex;
  justify-content: space-between;
}

.modal-review {
  min-height: 20vh;
  min-width: 25vw;
  position: relative;
  margin-top: 3vh;
  padding-top: 2vh;
}

.button {
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 2vh;
  padding: 1;
}
